
    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    </div>
</main>

<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
   
    <h6 class="display-6 navbar-text">&copy;2023 All rights reserved</h6>
    </div>
    </nav>
  </footer>

   