<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>About me</h1>
    <body>
        <div class="container">
            <img src="/img/me.jpg" alt="Profile Picture" class="image">
            <div class="info">
                <p>My name is <strong>William Sampaio Franca</strong>, student of the third semester of System Engineering Technology at Centennial College.</p>
                <p>I am always looking to continuously improve my learning and bring better and better experiences for customers.</p>
                <p>I have extensive experience supporting and leading project support teams for CPG companies such as Unilever, Loreal, Cadbury Adams, and others.</p>
                <p>I am currently looking for a position where I can use and improve my technical knowledge. You can download my resume <a href="/Content/resume.pdf">HERE</a>.</p>
            </div>
        </div>
        <div class="abilities">
            <h3>Main Abilities:</h3>
            <ul>
                <li>Microsoft Excel</li>
                <li>Power BI</li>
                <li>Microsoft SQL Server</li>
                <li>Microsoft CRM Dynamics</li>
                <li>itil</li>
            </ul>
        </div>
        <br>
        <br>
        <br>
    </body>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   