<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">



    </div>
    <body>
        
        <h2>Welcolme to my Personal Page</h2>
        <p>
            My name is <strong> William Sampaio Franca </strong>, from Brazil. Currently, I am studying in the course
            <a href="https://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technician">
                Software Technician Engineer
            </a>.
        </p>
        <p>
            My current mission is make a better world throgh the tecnology. This is why I decided to move to Canada to study this course <br>Here you will find information about me, my experience, my projects and how to contact me. Feel free to ask me any concern or doubt about my carreer.
        </p>

    </body>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   