<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>My works</h1>
    </div>
    <body>
        <h2>Below you will find information about some projects I worked on in the past:</h2>
        <table>
            <tr>
                <th>Image</th>
                <th>Project Name</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><img src="/img/avs.png" alt="Así Vamos en Salud"></td>
                <td>Así Vamos en Salud</td>
                <td>I made use of Power BI to provide a way to check the evolution of the Covid-19 in Colombia using official sources from the government of Colombia. In this project, I worked as a developer.</td>
                <td><a href="https://asivamosensalud.org/panel-de-covid-19">Visit Website</a></td>
            </tr>
            <br>
            <tr>
                <td>Felcan<img src="/img/felcan.png" alt="Felcan"></td>
                <td>Felcan</td>
                <td>Using WordPress, I created an e-commerce platform that allows customers to sell products online. In this project, I had the role of a developer.</td>
                <td><a href="https://felcan.com.co/">Visit Website</a></td>
            </tr>
            <br>
            <tr>
                <td><img src="/img/itil.png" alt="Mareigua"></td>
                <td>Mareigua</td>
                <td>Based on the ITIL best practices library, I designed the support services and Service Level Agreements to optimize the customer service for a tax platform used in Colombia. In this project, my role was the Project Manager.</td>
                <td><a href="https://mareigua.com.co/">Visit Website</a></td>
            </tr>
        </table>
        <br><br><br><br><br>
    </body>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   