<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">


    </div>
    <body>
        <h1>My Service Offer</h1>
        <p>Below you can find my offer of services, and you can count with my experience and knowledge to get the best options in the Information Technology field</p>
        <ul>
          <li>Service design using ITIL best practices</li>
          <li>Development with WordPress</li>
          <li>Development with Angular JS</li>
          <li>Development with Java</li>
          <li>SQL server administration</li>
        </ul>
      </body>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   